node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
.env
.env.*
!.env.example
*.log
storage/local/attachments/*
storage/local/exports/*
storage/local/temp/*
apps/web/tsconfig.tsbuildinfo
apps/api/tsconfig.tsbuildinfo
.git
.gitignore
